@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@theme {
  --color-light-gray: hsl(0, 0%, 58%);
  --color-dark-gray: hsl(0, 0%, 17%)
}
